.flex-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container{
    display: flex;
    flex: 1;
}

header, footer{
    background-color: whitesmoke;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
header li{
    list-style-type: none;
}

.content{
    display:flex;
    flex:1;
    flex-direction: column;
}
.gradientBox{
    display:flex;
    min-width: 600px;
    width:50%; 
    /* background-image: linear-gradient(to right, red , yellow); */
    background-image: linear-gradient(to right, rgb(170, 208, 188),rgb(3, 30, 48));
} 

.images{
    display:flex;
    min-width: 600px;
    width:50%;
}

#box1{
    display:flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width:100%;
}

#gradientBox1{
    display:flex;
}

#box2{
    display:flex;
    flex-direction: row;
     width:100%;
}
#box3{
    display:flex;
    flex-direction: row;
     width:100%;
}
.sidebar1, .sidebar2{
    background-color: whitesmoke;
    /* flex: 0 0 90px; */
}

.sidebar1{
    order: -1;
}
.parallax {
    /* The image used */
    background-image: url('ariel-12.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }